.favorites-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .favorites-wrapper {
    gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .favorites-wrapper {
    display: grid;
    grid-template-columns: 444px 1fr;
    gap: 32px;
    align-items: start;
  }

  .favorites {
    grid-column: 1;
  }

  .favorites-list {
    grid-column: 2;
  }
}

.favorites {
  margin-bottom: 0;
}

.favorites-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.favorites-empty {
  list-style: none;
  text-align: center;
}

.favorites-empty p {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  max-width: 335px;
  margin: 0 auto;
  color: #242424;
}

@media screen and (min-width: 768px) {
  .favorites-empty {
    padding: 60px 40px;
  }

  .favorites-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .favorites-empty p {
    font-size: 16px;
    max-width: 554px;
  }

  .favorites .exercises__item {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .favorites-empty p {
    max-width: 481px;
  }

  .favorites .sidebar {
    width: 494px;
  }

  .favorites-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 16px;
  }

  .favorites .exercises__item {
    min-height: 141px;
    width: 405px;
  }

  .favorites .exercises__item .exercises__name-container {
    margin-bottom: 8px;
  }

  .favorites-wrapper {
    display: flex;
    flex-direction: row;
  }
}
